/* Animação do titulo*/

@keyframes HeaderH1-moverParaDireita{
    0%{
        opacity: 0;
        transform: translateX(-75px);
    }
    70%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}